# OpenOCD config for the PSoC 5LP (CY8C5888LTI-LP097) via a KitProg3 probe
# running in its native KitProg protocol mode (not CMSIS-DAP mode).
#
# Usage:
#   openocd -f openocd/psoc5lp-kitprog.cfg
#
# If the KitProg3 enumerates in CMSIS-DAP mode instead (check with `lsusb`
# and OpenOCD's startup log), swap the `source [find interface/kitprog.cfg]`
# line below for `source [find interface/cmsis-dap.cfg]`.

source [find interface/kitprog.cfg]

# Uncomment and set this if more than one KitProg is attached:
# adapter serial <serial-number>

transport select swd
adapter speed 1500

source [find target/psoc5lp.cfg]
